*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Roboto, sans-serif;
}

#root{
    max-width: 1000px;
    margin: 40px auto;
    background-color: #f0f0f0;
}

.post-container{
    display: flex;
    justify-content: center;
    gap:2.5rem;
    flex-wrap: wrap;
    padding: 2.5rem auto;
    border-radius: 0.3125rem;
}
.container{
    background-color: white;
    border : 2px solid black;
    padding: 3.125rem 3.125rem;
    border-radius: 0.625rem;
}

.add-container{
    display: flex;
}